{% for vlan in vlans_to_add %}
  {% set sub_vlan = vlan.id | string() %}
  {% if vlan.state == 'present' %}
    interface vlan {{ vlan.id }}
       {% for command in ipv4 %}
           {{ command  }}  
       {% endfor %} 
       {% if ansible_host.endswith('a') %}
           ip address {{ ipv4_base }}{{ sub_vlan[1:] }}.2/24
       {% elif ansible_host.endswith('b') %}
           ip address {{ ipv4_base }}{{ sub_vlan[1:] }}.3/24 
       {% endif %}
          ip virtual-router address {{ ipv4_base }}{{ sub_vlan[1:] }}.1
   {% elif vlan.state == 'absent' %}
      no interface vlan {{ vlan.id }}
   {% endif %}
   
 {% endfor %}
